.aboutus {
    display: flex;
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
}   

.aboutus-title {
    font-size: 60px;
    font-family: 'bebas neue';
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}
.aboutus-img {
    margin: 20px;
}
