#cards {
    display: flex;
    justify-content: center;
    h5 {
        font-family: 'bebas neue';
        font-size: 30px;
    }
    .card {
        width: 324px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        margin: 10px;
        img {
            padding-top: 14px;
        }
        label {
            display: block;
        }
    }
}

.tarjetas {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
}

.label {
    font-size: 18px;
}

.titulos {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 45px;
    h1 {
        font-size: 60px;
        font-family: 'bebas neue';
        font-weight: 700;
        text-transform: uppercase;
    }
    h2 {
        font-size: 60px;
        font-family: 'bebas neue';
        font-weight: 700;
        text-transform: uppercase;
    }
}
.ppp {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
   
}
.containerbutton {
    text-align: center;
}
.btn {
    border: 2px solid #c44569;
    background-color: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn1:hover {
    color: #fff;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #c44569;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn1:hover::before {
    height: 180%;
}
.delivery{
    display: flex;
    align-items: center;
    margin: 20px;
    h1 {
        color: #000000;
        font-family: 'bebas neue';
        font-size: 30px;
        font-weight: bold;
        margin-left: 20px;
    }
}
.buttons {
    padding: 8px;
    margin-left: 20px;
    border-radius: 4px;
    position: relative;
    width: fit-content;
    input {
        appearance: none;
        cursor: pointer;
        border-radius: 3px;
        padding: 10px 10px;
        background: #a5b1c2;
        color: #ececec;
        font-size: 18px;
        font-family: 'lato', sans-serif;
        transition: all 0.1s;
      }
  }

  .buttons input:checked {
    background: #cf6a87;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0px #808080;
  }

  .buttons input::before {
    content: attr(label);
    text-align: center;
  }

  